/** Basis-Layout für maerchenstern.de v3.0 */
header, nav{
	display: block;
}
body{
	margin: 0;
	padding: 0;
	background-color: #202022;
}
img{
	border: 0px;
}
div{
	position: relative;
}
nav{
	color: #FFFFBB;
}
nav a{
	color: #FFFFBB;
	text-decoration: none;
}

#nav_meta{
	text-align: right;
	margin-top: -28px;
	margin-right: 15px;	
}

#frame{
	width: 900px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	
	background-image: url(/img_layout/bg_maerchen.png);
	background-color: #39393e;
	background-repeat: no-repeat;
	background-position: 0px -23px;
	
	border: 1px solid white;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

/** Header */
header{
}
	
#logo_img{
	margin-top: -15px;
	margin-left: 15px;
}
#claim{
	position: absolute;
	right: -20px;
	top: 0px;
}
#claim figcaption{
	position: absolute;
	right: 7px;
	top: 32px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: white;
	font-size: 0.6em;
}

header nav{
	padding-left: 195px;
	font-size: 17px;
	padding-bottom: 5px;
}


/** Inhalt */
#content{	
	width: 560px;
	margin-left: 5px;
	padding: 25px 20px 20px;
	background-color: #E3DFAF;
	color: #392900;
	float: left;	
	box-shadow: 5px 5px 5px #000000;
}
#content h1,#content h2,#content h3{
	font-family: Georgia,Times,serif;
}
article{
	padding-bottom: 10px;
	border-bottom: 1px dashed #291900;
}
dfn{
	background-color: #E3DFAF;
}

/** Rechte Info-Spalte */
aside{
	float: right;
	width: 275px;
}
aside h2{
	margin: 0px;
}
aside ul, aside li{
	display: block;
	padding: 0px;
	margin: 0px;
}

footer{
	clear: both;
	height: 50px;
}

/** A-Z */
#col1{
	width: 260px;
	float: left;
}
#col2{
	width: 260px;
	float: right;
}
				
.az ul,.az li{
	display: block;
	margin: 0;
	padding: 0;
}
.az h2{				
	margin: 0;
	margin-top: 13px;
	padding: 0;
	background-image: url(/img_layout/a-z.png);
	height: 30px;
	width: 33px;
	/** border: 1px dashed red; */
}
.az a{
	text-decoration: none;
	color: #392900;
}
.az a:hover{
	text-decoration: underline;
	color: red;
}
#a{	background-position: -17px -10px; }
#b{	background-position: -13px -50px; }
#c{	background-position: -17px -80px; }
#d{	background-position: -17px -120px; }
#e{	background-position: -17px -155px; }
#f{	background-position: -17px -187px; }
#g{	background-position: -15px -230px; }
#h{	background-position: -17px -260px; }
#i{	background-position: -17px -300px; }
#j{	background-position: -13px -337px; }
#k{	background-position: -16px -370px; }
#l{	background-position: -16px -408px; }
#m{	background-position: -17px -445px; }
#n{	background-position: -17px -480px; }
#o{	background-position: -17px -515px; }
#p{	background-position: -17px -550px; }
#q{	background-position: -17px -585px; }
#r{	background-position: -17px -620px; }
#s{	background-position: -17px -655px; }
#t{	background-position: -16px -690px; }
#u{	background-position: -17px -725px; }
#v{	background-position: -15px -763px; }
#w{	background-position: -17px -802px; }
#x{	background-position: -17px -838px; }
#y{	background-position: -13px -879px; }
#z{	background-position: -15px -910px; }
#az09{	background-position: -17px -947px; }
